cycler==0.10.0
joblib==0.16.0
kiwisolver==1.1.0
matplotlib==3.2.1
mne==0.20.7
pandas==1.0.3
numpy==1.18.2
pylsl==1.12.2
pynput==1.6.8
pyparsing==2.4.6
python-dateutil==2.8.1
pyxdf==1.16.2
PyYAML==5.3.1
scikit-learn==0.23.1
scipy==1.4.1
tables==3.6.1
tqdm==4.46.0
wfdb==2.2.0
numba==0.56.2
pyserial==3.5
